basicConstraints = CA:false
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @altnames

[dn]
C = DE
ST = Brandenburg
L = Potsdam
O = Antronet Securities
OU = Homebrew Division
CN = localhost
emailAddress = rbreunung@gmail.com

[altnames]
DNS.1 = grumpel.fritz.box
DNS.2 = vault-master
#DNS.3 = jenkins.fritz.box
#DNS.4 = gitlab.fritz.box
#DNS.5 = runner.fritz.box

#IP.1=192.168.178.100
